.htaccess
.DS_Store?
uploads/*
themes/twentyten/*
themes/twentyeleven/*
plugins/*
index.php
upgrade/*
themes/elise/js/jquery.tools.min.js
themes/elise/css/tabs_slideshow.css
themes/elise/assets/spinner.gif
themes/elise/lib/metabox/*